:root{
    --color1: #fff;
    --color2: #F1F4F5;
    --color3: #0000009d;
    --color4: #102a42;
    --color5: #444;
    --color6: #b8859479;
    --color7: #49a6e9;
    --color8: #49a6e96a;
    /* --marine-blue: #102a42; */
    --c: #f1f5f8;
}