main {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box-apresentacao{
    padding-left: 2px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-container .card{
    width: 190px;
    height: 100px;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color2);
}

.card-container .card .card-text{
    font-size: 18px;
    font-weight: 600;
}

.card-container .card .cn{
    font-size: 20px;
    font-weight: bolder;
}
