*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    height: 100vh;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--color2);
}

form{
    background-color: var(--color1);
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 295px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
form div label{
    font-size: 0.9rem;
    color: var(--color4);
}

form .campos section{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

form div input{
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    border: 1px solid var(--color7);
    outline: none;
    width: 290px;
}

form a{
    text-align: center;
    text-decoration: none;
    color: var(--color3);
}

form .btn-entrar{
    width: 150px;
    margin: auto;
    padding: 0.6rem;
    border-radius: 0.2rem;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: green;
    color: var(--color1);
    border-radius: 0.2rem;
    transition: all 0.3s linear;
}

form .btn-entrar:hover{
    background-color: var(--color7);
    transform: scale(1.01, 1.1);
}
