.btn-pub-noticia{
    display: flex;
    justify-content: flex-end;
}

.btn-pub-noticia a{
    text-decoration: none;
    padding: 10px;
    margin-bottom: 8px;
    background-color: var(--color8);
    border-radius: 6px;
    color: black;
    font-weight: 600;
}

.box_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.box_cards .data_cards{
    border: 2px solid var(--color2);
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1rem;
}

.data_cards .news_icon{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.data_cards .actions{
    display: flex;
    gap: 2rem;
}

.data_cards .actions a{
    text-decoration: none;
    color: var(--color5);
    font-weight: 600;
}

.data_cards .actions a:hover{
    color: var(--color7);
}

