body section h2{
    display: flex;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color9);
}

body .caixa-noticias section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

body .caixa-noticias section .noticia{
    padding: 1rem ;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--color1);
    border-radius: 0.2rem;
}

body .caixa-noticias section .noticia img{
    max-width: 100%;
    height: auto;
}

body .caixa-noticias section .noticia h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

body .caixa-noticias section .noticia p{
    letter-spacing: 0.6px;
}

body .caixa-noticias section .noticia div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}