@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--color1);
    display: flex;
    z-index: 1;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color4);
    height: 100vh;
    border-radius: 0 18px 18px 0;
    position: relative;
    z-index: 2;
    color: var(--color1);
}

#sidebar .sidebar-content{
    padding-top: 12px;
}

#logo{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active{
    background-color: #e0e0e0;
    color: var(--color4);
}

.side-item:hover:not(.active), #logout-btn:hover{
    background-color: var(--color7);
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color1);
}

.side-item.active a{
    color: var(--color4);
}

.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout{
    border-top: 1px solid var(--color6);
    padding: 12px;
}

#logout-btn{
   padding: 12px;
   font-size: 14px;
   display: flex;
   gap: 1rem;
   align-items: center;
   border-radius: 8px;
   text-align: start;
   cursor: pointer;
   background-color: transparent;
   text-decoration: none;
   color: var(--color1);
}

#open-btn{
    position: absolute;
    top: 20px;
    right: -10px;
    border: none;
    background-color: var(--color4);
    color: var(--color1);
    border-radius: 100%;
    height: 20px;
    cursor: pointer;
}

.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1;
}

.open-sidebar{
    min-width: 15%;
}

.open-sidebar .item-description{
    width: 150px;
}
