@media screen and (min-width: 768px) and (max-width: 992px) {
    
    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }
    
    header .navegacao-container .navegacao-links{
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    body .caixa-principal section h1 {
        color: var(--color1);
        font-size: 2rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    body .caixa-principal section p {
        color: var(--color2);
        width: 700px;
        margin: auto;
        text-align: center;
        line-height: 2rem;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }
    
   header .navegacao-container .navegacao-links{
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    body .caixa-principal section h1 {
        color: var(--color1);
        font-size: 2.4rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    body .caixa-principal section p {
        color: var(--color2);
        width: 700px;
        margin: auto;
        text-align: center;
        line-height: 2rem;
        font-size: 1.4rem;
    }

    body .caixa-secundaria{
        height: 200px;
        background-color: var(--color4);
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        padding: 1rem;
    }

    /* ---------------- */

    footer .footer-informacoes{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px){

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }
    
    header .navegacao-container .navegacao-links{
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    body .caixa-principal section h1 {
        color: var(--color1);
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    body .caixa-principal section p {
        color: var(--color2);
        width: 800px;
        margin: auto;
        text-align: center;
        line-height: 2rem;
        font-size: 1.4rem;
    }

    body .caixa-secundaria{
        height: 200px;
        background-color: var(--color4);
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        padding: 1rem;
    }

    /* ---------------- */

    footer .footer-informacoes{
        display: flex;
        flex-direction: row;
        gap: 9rem;
    }
}
