@media screen and (min-width: 768px) and (max-width: 992px) {
    
    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }
    
    header .navegacao-container .navegacao-links{
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    body .caixa-principal section{
        background-color: rgba(41, 41, 41, 0.411);
        border-radius: 1rem;
    }

    body .caixa-principal section h1 {
        color: var(--color1);
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    body .caixa-principal section p {
        color: var(--color2);
        font-size: 1.2rem;
        width: 700px;
        margin: auto;
        text-align: center;
        line-height: 2rem;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }
    
   header .navegacao-container .navegacao-links{
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    body .caixa-principal section{
        background-color: rgba(41, 41, 41, 0.411);
        border-radius: 1rem;
    }

    body .caixa-principal section h1 {
        color: var(--color1);
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    body .caixa-principal section p {
        color: var(--color2);
        font-size: 1.2rem;
        width: 700px;
        margin: auto;
        text-align: center;
        line-height: 2rem;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1200px){

    header .navegacao-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navegacao-cabecalho .navegacao-botao{
        display: none;
    }
    
    header .navegacao-container .navegacao-links{
        height: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    body .caixa-principal section{
        background-color: rgba(41, 41, 41, 0.411);
        border-radius: 1rem;
    }

    body .caixa-principal section h1 {
        color: var(--color1);
        font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    body .caixa-principal section p {
        color: var(--color2);
        font-size: 1.2rem;
        width: 800px;
        margin: auto;
        text-align: center;
        line-height: 2rem;
        font-size: 1.5rem;
    }
}
